.grey{
	background-color: #eee;
	--navbars-height: 50px;
	--navbars-borders: 1px solid #999;
}

.main {
	background-color: #fff;
	min-width: 500px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	overflow: auto;
	
}

.top {
	height: var(--navbars-height);
	border-bottom: var(--navbars-borders);
	position: relative;
}

.middle {
	min-height: calc(100vh - var(--navbars-height)*2);
	width: 100%;
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;
	
}

.sidebar {
	opacity: 1;
	border-left: 1px solid #ccc;
	min-height: inherit;
    flex: 0 0 300px;	
	box-shadow: -15px 0px 5px -3px rgba(51, 51, 51, 0.5);
	transition-timing-function: linear;
	transition: width 250ms, opacity 250ms;	
	padding: 10px 10px calc(10px + var(--navbars-height)) 10px;
}
	
.main-content {
	min-height: inherit;
	padding: 10px 15px calc(10px + var(--navbars-height)) 10px;
	width: auto;

}

.bottom {
	position: fixed;
	width:100%;
	max-width: inherit;
	height: var(--navbars-height);
	border-top: var(--navbars-borders);
	bottom: 0;
	z-index: 99999;
	background-color: #fff;
}

@media all and (max-width: 700px) {
	.sidebar{
		flex: 0 0 0px;
		opacity: 0;
		transition-timing-function: ease-out;	
	}
	.sidebar>.test-content{
		width: 0px;	
	}		
}
